# {{ ansible_managed }}

CERTBOT_ARGS="{{ certbot_args|join(' ') }}"
POST_HOOK="{{ "--post-hook '" + certbot_post_hook + "'" if certbot_post_hook|length > 0 else '' }}"
PRE_HOOK="{{ "--pre-hook '" + certbot_pre_hook + "'" if certbot_pre_hook|length > 0 else '' }}"
RENEW_HOOK="{{ "--renew-hook '" + certbot_renew_hook + "'" if certbot_renew_hook|length > 0 else '' }}"
